@import url(http://fonts.googleapis.com/css?family=Sniglet:800);

body {
  font-family: Verdana, Tahoma, Geneva, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background: #81e7db;
}

h1 {
  font-family: 'Fredoka One', cursive;  font-size: 4.2rem;
  color: #FF206E;
  text-shadow: 3px 0px 2px #FBFF3F, 0px 2px 5px #FBFF3F;
}

h1:before {
  content: "The ";
  font-size: 1.8rem;
  margin: 2rem 0 -1rem 0;
  display: block;
}

.bullet {
    max-height: 150px;
}
#heart{
  padding: 0 10px;
}
form, form input {
  font-size: 1rem;;
}

form input[type=text], form input[type=submit], form select {
  font-size: 1rem;
  border: 1px solid #66ccbd;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.08);
  padding: 0.618em 1em;
  border-radius: 5px;
  background: white;
  color: #e52367;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.italic{
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

form input[type=submit]{
  font-weight: bold;
  background-color: #FF206E;
  color: white;
}

form input[type=submit]:hover{
  cursor: pointer;
  position: relative;
  top: -1px;
  background-color: #FDFF99;
  color: #FF206E;
}

ul {
  text-align: center;
  max-width: 500px;
  margin: 2rem auto;
}
a{
  text-decoration: none !important;
  outline:none !important;
}
a:hover #heart{
  text-decoration: none;
}

li{
  list-style: none;
  color: #FF206E;
}
li:hover{
  list-style: none;
  color: #FBFF3F;
  text-decoration: none;

}
#doughnut{
  width: auto;
}

#modal .ui.button {
  background-color: #FF206E;
  color: white;
}

